/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* for testing purposes ONLY */
/* body {
  background-color: rgb(191, 191, 211);
} */

/***************************************************
      ||  General site-wide content styles  
****************************************************/
/* ***later go back and merge these with identically named identifiers */
 
html {
  font-size: 16px; /* base font size */
}
 
body {
  font-family: 'Open Sans', sans-serif;  /* default font */
  font-size: 1em;
  background-color: #527158;
  color: #e2e3ed; /* default color for most text */
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; /* medium for all poppins */
}

h1 {
  /* mobile: 36/auto --> lh 43.2 */
  font-size: 2.25em;
  line-height: 1.2;
}
h2 {
  /* mobile: 30/auto --> lh 36 */
  font-size: 1.875em;
  line-height: 1.2;
}
 
h3, 
h4 {
  /* mobile: 18/auto --> lh 21.6 */
  font-size: 1.125em;
  line-height: 1.2;
} 

/* ul { */
  /* font-family: 'Open Sans', sans-serif;  */ /* needed? */
  /* font-size: 1.125em; 18 pt mobile */
/* } */
 
a {
  color: #e2e3ed;
  text-decoration: none;
  text-transform: uppercase;
  /* mobile: 18/auto/bold --> lh 21.6 */
  font-size: 1.125em;
  line-height: 1.2;
  font-weight: bold;
}
 
p {
  /* mobile: 14/18 */
  font-size: 0.875em;
  line-height: 1.285;
}
 
address { /* in both footer for all files, and about page contact */
  font-style: normal;
}
 
img {
  width: 100%;
}
figure {
  margin: 0;
}
/* .content-wrapper {
 
} */

/* || Base header and footer styles ------------------------------ */
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; /* not sure what difference this makes */
  background-color: #202322;
}
.content-wrapper {
  width: 90%;
  border: red 1px solid; /*for testing only*/
}

/* header only */
header {
  padding: 15px 0 20px 0;
}
header .content-wrapper {
  width: 100%; /*setting 100% here to allow for the header-divider to be the full width*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.logo {
  width: 60%;
  display: flex;
  justify-content: center;
}
.header-divider {
  width: 100%;
}
.header-divider hr {
  margin: 10px 0 20px 0;
  border-top-color: #3a3a3a;
}
header nav  {
  width: 100%;
  display: flex;
  justify-content: space-around; /* both here and in ul? */
  align-items: center;
  flex-flow: row wrap; /* not sure what difference this makes */
}
header nav ul {
  width: 45%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0; /*override default*/
  margin: 0; /*override default*/
}

/* footer only */
footer {
  flex-direction: column; /* supercedes the flex-flow above; answer key does NOT do this yet */ 
  color: #ffffff;
}
footer .content-wrapper {
  width: 60%;
  margin: 5px 0 50px 0;
  text-align: center; 
}
footer .contact, footer .social {
  padding-top: 45px;
}
/* footer address, footer .social {
  border: royalblue dotted 1px;
} */
footer h4 {
  margin: 0;
  padding-bottom: 15px;
}
footer a {
  /* mobile: 14/auto --> lh 16.8 */
  font-size: 0.875em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
}
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyright {
  width: 60%;
  text-align: center;
}
.copyright p {
  line-height: 1.2;
}

/***************************************************
      ||  Home page main content  
****************************************************/

/* || Hero area ----------------------- */
.hero-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../img/unplugged-hero-image.jpg') center no-repeat;
  background-size: cover;
}
.hero-area .content-wrapper {
  display: flex;
  justify-content: flex-start; /* left justify the text*/ 
  align-items: center;
  flex-flow: row wrap; /* not sure what difference this makes */
}
.hero-area h1 {
  padding-top: 55px;
  padding-bottom: 330px;
  margin: 0; /*turn off default*/
}

/* || Aside ----------------------- */
aside, .features, .reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside .content-wrapper  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; /* better than column because this changes depending on width
   though might need column for mobile if the breakpoints and element widths don't do 
   the trick down the line  */
}
aside h3 {
  margin: 0;
  /* padding: 30px 0 10px 0; */
}
aside p {
  margin: 0;
  /* padding: 10px 0 35px 0; */
  padding: 0;
}
aside .form-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 30px 0 5px 0;
  width: 100%; /*100% of containing element*/
}
/* should signup-form be just form instead*/
aside .signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  /* should margin-top be 30px?  */
  padding: 30px 0 40px 0;
  width: 100%; /*100% of containing element*/
}

input[type=text] {
  /* enter contact email here */
  box-sizing: border-box;
  width: 100%;
  background-color: #e1e2ea;
  border: 0;
  color: #9d9ea4;
  font-style: italic;
  padding: 1em;
  font-size: 0.875em;
  line-height: 1.2;
}

input[type=button] {
  width: 100%;
  /* padding: 20px 0; */
  line-height: 1.2;
  /* margin-top: 20px; */
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
aside .form-description h3 {
  padding-bottom: 10px;
}
aside .signup-form h3 {
  margin: 0;
  padding-bottom: 15px;
  width: inherit;
}
aside .signup-form input {
  width: inherit;
  height: 50px;
  margin-bottom: 15px;
}

/* || Home page content (features and reviews sections) ----------------------- */

.home-page section h2 {
  margin: 0;
  /* padding: 55px 0 0 0; */
}

/* || Features section ----------------------- */
.features {
  background: url('../img/unplugged-retreat-features.jpg') center no-repeat #333;
  background-size: cover;
}
.features .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap; /* not sure what difference this makes, but it got rid
  of problem of header not being justified left */
  padding-bottom: 70px;
}
.features h2 {
  padding: 50px 0 0 0;
}
.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; /* not sure what difference this makes, 
  definitely not looking right in bigger screen */
}
.features article {
  width: 62.5%;
}
.features p {
  text-align: center;
  margin: 0;
}
.feature-description {
  color: #e1e2ea;
}
/* next for testing only, until icons are added  */
.feature-icon {
  /* text-align: center; for now */
  color: red;
  padding: 60px 0 40px 0;
}

/* || Reviews section ----------------------- */
.reviews {
  background-color: #2a423a;
}
.reviews .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap; /* not sure what difference this makes */
  padding-bottom: 45px;
}
.reviews .image-placeholder {
  width: 100%;
  height: 200px;
  border: hotpink dotted 1px;
}
.image-placeholder p { /* this just until image is inserted */
  text-align: center;
}
.reviews h2 {
  padding: 55px 0 30px 0;
  /* mobile: 30/30 */
  line-height: 1; 
}
.reviews h3 {
  margin: 0;
  padding: 20px 0 25px 0;
}
.reviews p {
  margin: 0;
}

/***************************************************
      ||   FAQ page main content  
****************************************************/
/* is this one needed? */
.faq-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.faq-page .content-wrapper {
  margin: 50px 0 0 0;
}
.faq-page h2 {
  margin-bottom: 40px;
  /* mobile: 30/30 */
  line-height: 1; 
}
.faq-page h4 {
  /* mobile: 18/24 */
  line-height: 1.333;
}

.questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; /* not sure what difference this makes */
}
.question {
  margin-bottom: 50px;
}

/***************************************************
        About page main content  
****************************************************/
.mission,
.contact-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-section {
  background-color: #2a423a;
}

/* .mission .content-wrapper,
.contact-section .content-wrapper {
  color: blueviolet;
  border: blueviolet 1px solid;

} */
.contact-section h4 {
  color: #ffffff;
}
.contact-content p {
  /* mobile: 14/auto --> lh 16.8 */
  line-height: 1.2;
  color: #e1e2ea;
}

/* temporary: make space for map */
.map {
  border: hotpink 1px dotted;
  padding: 40px 0;
  margin: 30px 0;
  width: 100%;
}
.map p {
  text-align: center;
}

/* || End of code for primary styles; media queries for responsive design below */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   || Media Queries for Responsive Design.
   || These styles override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/********************* Tablet styles here ************************************/
/********************* body, header, and footer styles for tablet ************/
  /* for testing purposes ONLY */
  /* body {
    background-color: rgb(211, 183, 187);
  } */
  .content-wrapper,
  header .content-wrapper,
  footer .content-wrapper
  {
    width: 83%;
    max-width: 640px;
  } 
  header {
    padding: 30px 0 30px 0;
  }
  header .content-wrapper {
    justify-content: space-between;
    height: 40px;
  }
  header .logo {
    width: 35%;
  }
  header nav {
    width: 45%;
  }
  header .logo {
    justify-content: flex-start;
  }
  .header-divider {
    display: none;
  }
  header nav {
    justify-content: flex-end;
  }
  header nav a {
    /* tablet: 16/auto */
    font-size: 1em;
  }
  footer {
    /* flex-direction: row wrap; */
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* flex-direction: row wrap; */
    flex-flow: row wrap;
  }
  footer .contact, footer .social {
    width: 50%;
    padding-top: 90px;
  } 
  footer h4 {
    margin: 0;
    padding-bottom: 35px;
    /* tablet: 24/auto --> lh 28.8 */
    font-size: 1.5em;
    line-height: 1.2;
  } 
  footer a {
    /* tablet: 14/24 ; font size is same as mobile */
    line-height: 1.714;
  }
  footer .social-icons {
    justify-content: space-around;
    margin: 0 75px;
  }
  /**************************** styles for main page content *******************/
  .hero-area h1 {
    width: 85%;
    /*tablet: 48/48 */
    font-size: 3em;
    line-height: 1; 
  }
  .hero-area h1 {
    padding-top: 90px;
    padding-bottom: 420px;
  }
  h3 { /* ***right now just for aside and reviews, but I don't think it's needed anywhere else */
    /* tablet: 24/30 */
    font-size: 1.5em;
    line-height: 1.25; 
  }
  aside .content-wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }
  aside .form-description,
  aside .signup-form {
    width: 45%;
    padding-top: 45px;
  }
  aside .content-wrapper h3, 
  aside .content-wrapper input {
      width: 100%;
  }
  aside .content-wrapper h3 {
    padding-bottom: 15px;
  }
  aside .signup-form input {
    height: 40px;
  }
  aside .form-description p {
    width: 95%;
  }

  .features h2,
  .faq-page h2 {
    /* tablet: 36/48 */
    font-size: 2.25em;
    line-height: 1.333; 
  }
  .features .content-wrapper {
    padding-bottom: 90px;
  }
  .features h2 {
    padding-top: 95px;
  }
  .features .features-items {
    justify-content: space-around;
    align-items: baseline;
  }
  .features .feature-icon {
    padding: 35px 0 25px 0;
  }
  .features p {
    padding-bottom: 5px;
  }
  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
  }
  .features article .feature-description {
    width: 91.5%;
  }

  .reviews .content-wrapper {
    padding-bottom: 100px;
  }
  .reviews h2 {
    /* tablet: 36/auto --> lh 43.2 */
    font-size: 2.25em;
    line-height: 1.2;
    padding: 100px 100px 20px 0;
  }
  .reviews h3 {
    /* tablet: 24/30 */
    font-size: 1.5em;
    line-height: 1.25;
    padding-bottom: 15px;
  }
  .reviews article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  /* figure, */
  .home-page .reviews article .image-placeholder,
  .home-page .reviews article figure,
  .reviews article .lacrue-review {
    width: 48.75%;
  }
  .reviews article .lacrue-review h3 {
    padding-top: 0;
  }

  /**************************** styles for about page content *******************/

  /* combine these below if nothing more changes */
  .mission-content {
    display: flex;
    justify-content: space-between;
  }
  .mission h2 {
    /* tablet: 36/auto -->  lh 43.2 */
    font-size: 2.25em;
    line-height: 1.2;
    width: 95%;
  }
  .mission-content p {
    width: 45%;
  }
  .contact-section h2 {
    width: 85%;
    /* tablet: 36/48 */
    font-size: 2.25em;
    line-height: 1.333;
  }
  .contact-section h4 {
    /* tablet: 24/auto --> lh 28.8; don't need to respecify lh*/
    font-size: 1.5em;
  }
  .contact-content {
    display: flex;
    justify-content: space-between;
  }
  .contact-content .general-info,
  .contact-content .facilitator-contact {
    width: 45%;
  }
  .contact-content p {
    /* tablet: 14/18 instead of 14/auto */
    line-height: 1.285;
  }

  /**************************** styles for faq page content *******************/
  .faq-page {
    flex-direction: column;
    justify-content: space-between;
  }
  .faq-page h4 {
    /* tablet 14/18 */
    font-size: 0.875em;
    line-height: 1.285;
  }
  .faq-page .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .faq-page .questions {
    justify-content: space-between;
    align-items: flex-start;
  }
  .question {
    flex-basis: 45%;
  }

}
  
@media only screen and (min-width: 1200px) {
/********************* Desktop styles here ************************************/
/********************* body, header, and footer styles for tablet ************/

/* for testing purposes */
  /* body {
    background-color: rgb(160, 186, 232);
  } */
  /* .features .content-wrapper {
    width: 80%;
  } */
  .content-wrapper,
  header .content-wrapper,
  footer .content-wrapper
  /* .hero-area .content-wrapper  */
  {
    width: 80%;
    max-width: 960px;
  } 
  header {
    padding: 20px 0 20px 0;
  }
  header .content-wrapper {
    height: 50px;
  }
  header .logo {
    width: 30%;
  }
  header nav ul {
    width: 30%;
  }
  header nav a {
    /* desktop: 18/auto */
    font-size: 1.125em;
  }

  footer .content-wrapper {
    margin-bottom: 90px;
  }
  footer .contact, footer .social {
    padding-top: 95px;
  }
  footer h4 {
    /* desktop: 30/auto ; only size changed */
    font-size: 1.875em;
    padding-bottom: 30px;
  }
  footer a {
    /* desktop: 18/24 */
    font-size: 1.125em;
    line-height: 1.333;
  }
  .copyright p {
    /* desktop: 18/auto --> lh 21.6; only size changed */
    font-size: 1.125em;
    margin-bottom: 10px;
  }


/**************************** changed styles for main page content *******************/
  .hero-area h1 {
    width: 80%;
    /* desktop: 60/auto --> lf 72 */
    font-size: 3.75em;
    line-height: 1.2;
  }
  .hero-area h1 {
    padding-top: 45px;
    padding-bottom: 430px;
  }
  aside .content-wrapper {
    justify-content: space-around;
    /* align-items: flex-start; */
  }
  aside .form-description, aside .signup-form {
    padding-top: 50px;
  }
  aside .form-description, aside .signup-form {
    padding-bottom: 35px;
  }
  aside h3,
  .home-page .reviews h3 {
    /* desktop: 30/auto --> lf 36 */
    font-size: 1.875em;
    line-height: 1.2;    
  }
  aside p {
    /* desktop: 18/24 */
    font-size: 1.125em;
    line-height: 1.333;
  }
  .email-address {
    /* desktop: 18/auto --> lf 21.6 */
    font-size: 1.125em;
    /* line-height: 1.2; ***verify don't need to respecify */
  }
  input[type=button] {
    /* desktop: 24/auto --> lf 28.8 */
    font-size: 1.5em;
  }
  
  aside .form-description,
  aside .signup-form {
    width: 33.3%;
  }
  aside .signup-form input {
    height: 50px;
  }
  .features h2 {
    /* desktop: 36/auto --> lh 43.2 only lh changes*/
  /* font-size: 2.25em; */
  line-height: 1.2;
  }
  .features .feature-description,
  .reviews p {
    /* desktop: 18/24 */
    font-size: 1.125em;
    line-height: 1.333;    
  }
  
  .features h2 {
    padding-bottom: 35px;
  }
  .features article .feature-description {
    width: 78.5%;
  }
  .features article {
    width: 26%; /* can't be lower because then get four items across*/
  }
  .features .feature-icon {
    padding: 55px 0 20px 0;
}
  .home-page .reviews article .image-placeholder, 
  .reviews article .lacrue-review {
    width: 48%;
  }
  .home-page .reviews article figure, .reviews article .lacrue-review
  /* .reviews article figure, .reviews article .lacrue-review  */
  {
    width: 48.5%;
  }
  .reviews h2 {
    padding: 95px 0 95px 0;
}
/**************************** changed styles for about page content *******************/
  .mission h2 {
    /* desktop: 48/auto -->  lh 57.6 , only need font size*/
    font-size: 3em;
  }
  .mission-content p {
    /* desktop: 18/24 */
    font-size: 1.125em;
    line-height: 1.333;
  }
  .contact-section h2 {
    width: 100%;
    /* desktop: 48/72 */
    font-size: 3em;
    line-height: 1.5;
  }
  .contact-section h4 {
    /* desktop: 30/auto --> lh 36; don't need to respecify lh*/
    font-size: 1.875em;
  }
  .contact-content p {
    /* desktop: 18/auto --> lh 21.6 */
    font-size: 1.125em;
    line-height: 1.2;
  }

  /**************************** changed styles for faq page content *******************/
  .faq-page h2 {
    /* desktop: 48/auto -->  lh 57.6 */
    font-size: 3em;
    line-height: 1.2;
  }
  .faq-page h4,
  .faq-page p {
    /* desktop: 18/18 */
    font-size: 1.125em;
    line-height: 1;
  }
  
}
/* @media only screen and (min-width: 35em) { */
  /* Style adjustments for viewports that meet the condition */
/* } */

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

