/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* for testing purposes ONLY */
body {
  background-color: lavender;
}
/*--------------- Base header and footer styles -------------------------*/
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; /* not sure what difference this makes */
  color: royalblue;
}
header {
  padding: 15px 0 20px 0;
}
.content-wrapper {
  width: 90%;
}

header .content-wrapper
 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: teal;
  border: red 1px solid;
  /* is following needed or not? instructions say we need row wrap for header content wrapper, but 
  we definitely need this for footer, don't we? */
  /* flex-direction: column;
}
header .content-wrapper { */
   /* adding this breaks the nav going under logo for mobile, unless that is fixed with something else */
   flex-flow: row wrap;
   width: 100%; /*setting 100% here to allow for the header-divider to be the full width*/
}
.logo {
  display: flex;
  justify-content: center;
  width: 60%;
}
.header-divider {
  width: 100%;
}
.header-divider hr {
  margin: 10px 0 15px 0;;
}
header nav  {
  display: flex;
  justify-content: space-around; /* both here and in ul? */
  align-items: center;
  color: orange;
  border: orange 1px solid;
  flex-flow: row wrap; /* not sure what difference this makes */
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  color: gold;
  border: purple 1px solid;
  list-style: none;
  width: 45%;
  padding: 0; /*override default*/
  margin: 0; /*override default*/
}
/* footer address,
footer .social,
footer .copyright {
  text-align: center;
} */
footer address, footer .social {
  border: royalblue dotted 1px;
}
footer {
  flex-direction: column; /* supercedes the flex-flow above; answer key does NOT do this yet */ 
  background-color: rgb(235, 235, 235);
}
/* footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column nowrap; 
 } */
/* footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
} */
footer .content-wrapper {
  width: 60%;
  margin-bottom: 50px;
  text-align: center; 
}
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: hotpink;
  border: hotpink 1px solid;
  /* flex-flow: row wrap; */
}
footer h4 {
  margin: 0;
  padding-bottom: 15px;
}
footer .contact, footer .social {
  padding-top: 50px;
}
/***************************************************
        Home page main content  
****************************************************/
.hero-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-area .content-wrapper {
  display: flex;
  justify-content: flex-start; /* left justify the text*/ 
  align-items: center;
  color: blue;
  border: blue 1px solid;
  flex-flow: row wrap; /* not sure what difference this makes */
}
.hero-area h1 {
  padding-top: 55px;
}
aside, .features, .reviews {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
aside .content-wrapper  {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  border: orange 1px solid;
  flex-flow: row wrap; /* better than column because this changes depending on width
   though might need column for mobile if the breakpoints and element widths don't do 
   the trick down the line  */
  /* width: 90%; */
}
aside h3 {
  margin: 0;
  /* padding: 30px 0 10px 0; */
}
aside p {
  margin: 0;
  /* padding: 10px 0 35px 0; */
  padding: 0;
}
aside .form-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: yellowgreen;
  border: yellowgreen 1px solid;
  flex-direction: column;
  margin: 0;
  padding: 35px 0 30px 0;
  width: 100%; /*100% of containing element*/
}

aside .signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  border: green 1px solid;
  flex-direction: column;
  margin: 0;
  padding: 35px 0 30px 0;
  width: 100%; /*100% of containing element*/
}

aside .signup-form h3 {
  margin: 0;
  padding: 0 0 15px 0;
  width: inherit;
}
aside .signup-form input {
  width: inherit;
  height: 50px;
  margin-bottom: 20px;
}
.home-page section h2 {
  margin: 0;
  padding: 55px 0 0 0;
}
.features .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: teal;
  border: teal 1px solid;
  /* flex-direction: column; */
  flex-flow: row wrap; /* not sure what difference this makes, but it got rid
  of problem of header not being justified left */
  /* width: 90%; */
  padding-bottom: 65px;
}
.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: burlywood;
  border: peachpuff 1px solid;
  /* flex-direction: column; */
  flex-flow: row wrap; /* not sure what difference this makes, 
  definitely not looking right in bigger screen */
  /* width: 60%; /* here or features .article ? */
}
.features article {
  width: 62.5%;
}
.features p {
  text-align: center;
  margin: 0;
}
/* next for testing only, until icons are added  */
.feature-icon {
  /* text-align: center; for now */
  color: red;
  padding: 50px 0 40px 0;
}

.reviews .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: blueviolet;
  border: blueviolet 1px solid;
  /* flex-direction: column; */
  flex-flow: row wrap; /* not sure what difference this makes */
  /* width: 90%; */
  padding-bottom: 45px;
}
.home-page .reviews .image-placeholder {
  width: 100%;
  height: 200px;
  border: tan dotted 1px;
}
.image-placeholder p {
  text-align: center;
}
.home-page .reviews h2 {
  padding: 55px 0 30px 0;
}
.reviews h3 {
  margin: 0;
  padding: 20px 0 20px 0;
}
.reviews p {
  margin: 0;
}

/***************************************************
        FAQ page main content  
****************************************************/
/* is this one needed? */
.faq-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  /* flex-direction: column; */
}
.faq-page .content-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; left-justify */
  color: brown;
  border: cornflowerblue 1px solid;
  /* flex-direction: column; */
  /* width: 90%; */
  margin: 50px 0 0 0;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; */
}
.faq-page .questions {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  border: blueviolet 1px solid;
  /* flex-direction: column; */
  flex-flow: row wrap; /* not sure what difference this makes */
}
.faq-page h2 {
  margin-bottom: 40px;
}
.question {
  margin-bottom: 50px;
}

/***************************************************
        About page main content  
****************************************************/
.mission,
.contact-section {
  display: flex;
  /* justify-content: center; */
  /* align-items: flex-start;   */
  align-items: center;
  /* flex-direction: column; */
  /* flex-flow: row wrap; /* not sure what difference this makes */
  flex-direction: column;
  /* width: 90%; */
}
.mission .content-wrapper,
.contact-section .content-wrapper {
  color: blueviolet;
  border: blueviolet 1px solid;

}
/* .mission .mission-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: coral;
  border: indigo 1px solid;
  flex-flow: row wrap; not sure what difference this makes
} */

/* temporary: make space for map */
.map {
  border: blue 1px dotted;
  padding: 40px 0;
  margin: 30px 0;
  width: 100%;
}
.map p {
  text-align: center;
}

/* .contact-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: yellowgreen;
  border: violet 1px solid;
  flex-direction: column; */
  /*flex-flow: row wrap; /* not sure what difference this makes */
/* } */
/* .contact-section .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: yellowgreen;
  border: violet 1px solid;
  /* flex-direction: column; */
  /* flex-flow: row wrap; not sure what difference this makes */
/* } */ 
/* .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  color: violet;
  border: yellowgreen 1px solid;
  width: 90%;
} */

	


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/********************* Tablet styles here ************************************/
/********************* body, header, and footer styles for tablet ************/
  /* for testing purposes ONLY */
  body {
    background-color: rgb(238, 206, 211);
  }
  .content-wrapper,
  header .content-wrapper,
  footer .content-wrapper
  /* .hero-area .content-wrapper  */
  {
    width: 83%;
  } 
  /* .features .content-wrapper {
    width: 83%;
  } */
  header .content-wrapper {
    justify-content: space-between;
  }
  header .logo, header nav {
    width: 40%;
  }
  header .logo {
    justify-content: flex-start;
  }
  .header-divider {
    display: none;
  }
  header nav {
    justify-content: flex-end;
  }
  footer {
    flex-direction: row wrap;
    justify-content: space-around;
  }
  .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row wrap;
  }
  footer .contact, footer .social {
    padding-top: 90px;
  } 
  footer h4 {
    margin: 0;
    padding-bottom: 35px;
  } 
  footer .contact, footer .social {
    width: 50%;
  }
  footer .social-icons {
    justify-content: space-around;
    margin: 0 75px;
  }
  /**************************** styles for main page content *******************/
  .hero-area h1 {
    width: 85%;
  }
  aside .content-wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }
  aside .form-description,
  aside .signup-form {
    width: 45%;
  }
  aside .content-wrapper h3, aside .content-wrapper input {
    width: 100%;
  }
  aside .content-wrapper h3 {
    padding-bottom: 15px;
  }

  .features .features-items {
    justify-content: space-around;
    align-items: baseline;
  }
  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    border: hotpink 1px solid;
  }
  .features article .feature-description {
    width: 100%;
    color: darkcyan
  }
  .reviews article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  .home-page .reviews article .image-placeholder, 
  .reviews article .lacrue-review {
    width: 48.75%;
  }
  .reviews article .lacrue-review h3 {
    padding-top: 0;
  }

  /**************************** styles for about page content *******************/

  /* combine these below if nothing more changes */
  .mission-content {
    display: flex;
    justify-content: space-between;
  }
  .mission-content p {
    width: 45%;
  }
  .contact-section h2 {
    width: 85%;
  }
  .contact-content {
    display: flex;
    justify-content: space-between;
  }
  .contact-content .general-info,
  .contact-content .facilitator-contact {
    width: 45%;
  }

  /**************************** styles for faq page content *******************/
  .faq-page {
    flex-direction: column;
    justify-content: space-between;
  }
  .faq-page .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .faq-page .questions {
    justify-content: space-between;
    align-items: flex-start;
  }
  .question {
    flex-basis: 45%;
  }

}
  
@media only screen and (min-width: 1200px) {
/********************* Desktop styles here ************************************/
/********************* body, header, and footer styles for tablet ************/

/* for testing purposes */
  body {
    background-color: rgb(199, 213, 238);
  }
  /* .features .content-wrapper {
    width: 80%;
  } */
  .content-wrapper,
  header .content-wrapper,
  footer .content-wrapper
  /* .hero-area .content-wrapper  */
  {
    width: 80%;
  } 

/**************************** styles for main page content *******************/
  .hero-area h1 {
    width: 70%;
  }
  aside .content-wrapper {
    justify-content: space-around;
    /* align-items: flex-start; */
  }

  aside .form-description,
  aside .signup-form {
    width: 33.3%;
  }
  .features article {
    width: 25%; /* can't be much lower because then get four items across*/
  }
  .home-page .reviews article .image-placeholder, 
  .reviews article .lacrue-review {
    width: 48%;
  }
}
/* @media only screen and (min-width: 35em) { */
  /* Style adjustments for viewports that meet the condition */
/* } */

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

